argparse-addons==0.12.0
attrs==24.3.0
autocommand==2.2.2
backports.tarfile==1.2.0
bitarray==3.0.0
bitstring==4.3.0
bitstruct==8.19.0
blinker==1.9.0
can_decoder==0.1.9
canmatrix==1.0
cantools==40.0.0
CANToolz==3.7.0
click==8.1.8
contourpy==1.3.1
crccheck==1.3.0
cycler==0.12.1
diskcache==5.6.3
Flask==3.1.0
fonttools==4.55.3
fsspec==2024.12.0
future==1.0.0
importlib_metadata==8.0.0
inflect==7.3.1
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.5
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
mido==1.3.3
more-itertools==10.3.0
msgpack==1.1.0
networkx==3.4.2
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.2.2
pyparsing==3.2.1
pyserial==3.5
python-can==4.5.0
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.8.0
six==1.17.0
textparser==0.24.0
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.2
Werkzeug==3.1.3
wheel==0.43.0
wrapt==1.17.1
zipp==3.19.2